<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block header %}
        <div class="header">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Манчкин_лого" width=60 height=80>
            </div>
            {% include 'mainapp/includes/inc_menu.html' %}
            <hr>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        <div class="footer">
            <hr>
            <h4>А тут я вывожу текущую дату: {% now 'D M Y'%}</h4>
            <h4>Все права защищены&copy;</h4>
        </div>
        {% endblock %}
    </div>

</body>
</html>